################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blob3/bin/Debug
/Blob3/obj/Debug
/BlobDistributer/bin
/BlobDistributer/obj/Debug
/BlobHander3/bin/Debug
/BlobHander3/obj/Debug
/BlobTester/bin/Debug
/BlobTester/obj/Debug
/BlobTester2/bin/Debug
/BlobTester2/bin - kopie/Debug
/BlobTester2/obj/Debug
/packages
/BlobTester
