<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FmsBlobToContinental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FmsBlobToContinental.Properties.Settings>
            <setting name="hostNameTest" serializeAs="String">
                <value>https://qa.c2tires.conti.de/</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Welcome2021</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>ArrivaNL_Test</value>
            </setting>
            <setting name="certificateStringTest" serializeAs="String">
                <value>eyJhbGciOiJQUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAKtWKkgsKslLLVKyUnIsKsosS9T181HSUSouTUIW0XVJLQOKplYUKFkZmptbmBgYGRla1AIAZwQ2oD4AAAA.CWkBDuUMuiDWpI2MLc465iDy9MumtLoQmbX41fbFEJmv_LFFTluEBaedViEd1eFQx_Kk5JQhC0s8G55eBTKdYie43tQ2fP5fJDfvBniF77AfjqYSXMWED1KS-KyPOJ7KWQKt3N0KfVEt5f6IQV5XbJzU2qKtylDOKzfwOBkrKrT0UCe13NjtHLmnDmIq3SiaXqcZAxrn_OFkqwLE4ot6VmLS7rZAwwHS1lN_oLfECeayJmH7Nynv1FwaRhvwESHoqnzZl-GNGoJa9ZpbM-4QzcCnsadq8CnoO64lzsz_Mf19vaOWMAQW6oKWvZV-CJfByp9MbRarYQrSPKUGxYoY7G5wUVSWXNcVMgYIqjMQ7m0O879NMzX6hnVigVIyUw0xskiRkuEp-xg91XtC7ghYSr5vY8kqA4JKyUJ8dhn3x2FVbVTMw1qq-ZeHml12D25keuZtkk3b1bVLjaN6pWif211TkGaPPb8ix2MnH58f6NaweO8M3HVRPrLlJ9Q_-Q4M-VBvsza6aEg0fcpVrF8pYzCaCI9lE3doyXIyi7eSRetW-jW0VWd61ycZ5GVvprDGubZ44y-MXJTZrCsFi7LgQXFWREUDy3O8AINXQMjiI7gfX4MO9JxyLNEYuXT-C1nKQcHvDX5hU50_FuCAzf5n7OT6CYKTuhO7SAyWh793jus</value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>C:\Klanten\Arriva\ContinentalTirePressure\Data</value>
            </setting>
            <setting name="hostNameProd" serializeAs="String">
                <value>https://qa.c2tires.conti.de/</value>
            </setting>
            <setting name="certificateStringProd" serializeAs="String">
                <value>eyJhbGciOiJQUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAKtWKkgsKslLLVKyUnIsKsosS9T181HSUSouTUIW0XVJLQOKplYUKFkZmptbmBgYGRla1AIAZwQ2oD4AAAA.CWkBDuUMuiDWpI2MLc465iDy9MumtLoQmbX41fbFEJmv_LFFTluEBaedViEd1eFQx_Kk5JQhC0s8G55eBTKdYie43tQ2fP5fJDfvBniF77AfjqYSXMWED1KS-KyPOJ7KWQKt3N0KfVEt5f6IQV5XbJzU2qKtylDOKzfwOBkrKrT0UCe13NjtHLmnDmIq3SiaXqcZAxrn_OFkqwLE4ot6VmLS7rZAwwHS1lN_oLfECeayJmH7Nynv1FwaRhvwESHoqnzZl-GNGoJa9ZpbM-4QzcCnsadq8CnoO64lzsz_Mf19vaOWMAQW6oKWvZV-CJfByp9MbRarYQrSPKUGxYoY7G5wUVSWXNcVMgYIqjMQ7m0O879NMzX6hnVigVIyUw0xskiRkuEp-xg91XtC7ghYSr5vY8kqA4JKyUJ8dhn3x2FVbVTMw1qq-ZeHml12D25keuZtkk3b1bVLjaN6pWif211TkGaPPb8ix2MnH58f6NaweO8M3HVRPrLlJ9Q_-Q4M-VBvsza6aEg0fcpVrF8pYzCaCI9lE3doyXIyi7eSRetW-jW0VWd61ycZ5GVvprDGubZ44y-MXJTZrCsFi7LgQXFWREUDy3O8AINXQMjiI7gfX4MO9JxyLNEYuXT-C1nKQcHvDX5hU50_FuCAzf5n7OT6CYKTuhO7SAyWh793jus</value>
            </setting>
        </FmsBlobToContinental.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
