<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BlobContinentalUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="ContiTirePressureUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="FmsBlobToContinental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationsSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%thread] %-5.level - %message%newline%exception" />
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="d:\temp\log\BlobContinentalUpdaterService.txt" />
			<datePattern value=".yyyy-MM-dd'.txt'" />
			<staticLogFileName value="true" />
			<appendToFile value="false" />
			<rollingStyle value="Composite" />
			<maximumFileSize value="8MB" />
			<maxSizeRollBackups value="7" />
			<lockingModel type="log4net.Appender.FileAppener+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ABSOLUTE} [%-2.thread] %-5.level (%-24.24logger %-24.24method %3line) - %message%newline%exception" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<appender name="TextboxAppender" type="TextBoxAppender">
			<formName value="BlobTestForm" />
			<textBoxName value="tbFeedback2" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="INFO" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5.level - %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>

	</log4net>



	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>



	<applicationSettings>
		<BlobContinentalUpdater.Properties.Settings>
			<setting name="TestProd" serializeAs="String">
				<value>Prod</value>
			</setting>
			<setting name="DetailedLogging" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DelayWhenNothingFound" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="DetailedLoggingFilter" serializeAs="String">
				<value></value>
			</setting>
		</BlobContinentalUpdater.Properties.Settings>
		<ContiTirePressureUpdater.Properties.Settings>
			<setting name="TestProd" serializeAs="String">
				<value>Prod</value>
			</setting>
			<setting name="DetailedLogging" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DelayWhenNothingFound" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="DetailedLoggingFilter" serializeAs="String">
				<value />
			</setting>
		</ContiTirePressureUpdater.Properties.Settings>
	</applicationSettings>
	<userSettings>
		<FmsBlobToContinental.Properties.Settings>
			<setting name="hostNameTest" serializeAs="String">
				<value>https://qa.c2tires.conti.de/</value>
			</setting>
			<setting name="certificateStringTest" serializeAs="String">
				<value>eyJhbGciOiJQUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAKtWKkgsKslLLVKyUnIsKsosS9T181HSUSouTUIW0XVJLQOKplYUKFkZmptbmBgYGRla1AIAZwQ2oD4AAAA.CWkBDuUMuiDWpI2MLc465iDy9MumtLoQmbX41fbFEJmv_LFFTluEBaedViEd1eFQx_Kk5JQhC0s8G55eBTKdYie43tQ2fP5fJDfvBniF77AfjqYSXMWED1KS-KyPOJ7KWQKt3N0KfVEt5f6IQV5XbJzU2qKtylDOKzfwOBkrKrT0UCe13NjtHLmnDmIq3SiaXqcZAxrn_OFkqwLE4ot6VmLS7rZAwwHS1lN_oLfECeayJmH7Nynv1FwaRhvwESHoqnzZl-GNGoJa9ZpbM-4QzcCnsadq8CnoO64lzsz_Mf19vaOWMAQW6oKWvZV-CJfByp9MbRarYQrSPKUGxYoY7G5wUVSWXNcVMgYIqjMQ7m0O879NMzX6hnVigVIyUw0xskiRkuEp-xg91XtC7ghYSr5vY8kqA4JKyUJ8dhn3x2FVbVTMw1qq-ZeHml12D25keuZtkk3b1bVLjaN6pWif211TkGaPPb8ix2MnH58f6NaweO8M3HVRPrLlJ9Q_-Q4M-VBvsza6aEg0fcpVrF8pYzCaCI9lE3doyXIyi7eSRetW-jW0VWd61ycZ5GVvprDGubZ44y-MXJTZrCsFi7LgQXFWREUDy3O8AINXQMjiI7gfX4MO9JxyLNEYuXT-C1nKQcHvDX5hU50_FuCAzf5n7OT6CYKTuhO7SAyWh793jus</value>
			</setting>
			<setting name="hostNameProd" serializeAs="String">
				<value>https://c2tires.conti.de/</value>
			</setting>
			<setting name="certificateStringProd" serializeAs="String">
				<value>eyJhbGciOiJQUzUxMiIsInppcCI6IkdaSVAifQ.H4sIAAAAAAAAAKtWKkgsKslLLVKyUnIsKsosS9T181HSUSouTUIW0Q0oyk8BCqdWFChZGZqbW5gYGBmbmNQCAOX1yHA_AAAA.bD_987vqSZpPmjefmfVD9iVjzpTwWxv5mfUaMB0890KGv6kOfRuW9iCBQD6mQLgv1gCYEkGKaHk7f-0fBK-pUEYoceGtiTGgtWhG6Icf-XQdd2fuAV5vTG_V7XUaVaINtZz5GxRVKcn6OX3Uhvz3RapTustkm_Rd43GoVNssoFeSlTl8PC4AuTTRiMETISZ6D3ioBxMTgW6iqoYKCxV2hfcBdreVnA94fWeElXoGGxibfw5OXsO-jIfbns7wju0SeEBn48O6PQmvQbfy3hT5pFHa2GFgIHGxzZLC6Aiv9SVnv3wvf9wLOG7LjKaUUC2-a1tkX4CfknM4oE3-l4RNhhBuAoBv3cjg2mv2tex1lq41rTsAcsBUQx91sK4ki91CWU2uqzJmBSk11s1_h1t9Dia1NNzQEMub-Bt59Aw3V0-7Y7Nl4gdG0KYnyFcViIqSG4CiLrU7eGGrPaaYwjKvHjdy3YsexTn0tuILmyGGO6MOEeOd2A4jFHMwdfq6k7Ppfd5CYrtbQwrERcowEXdICAVHLFpYVRYgBUd3Nq6gamjwoqirVav0MeMyosyI7mQGR_pqb6nLL5K4Z9z-u0zziw6Qa3FyPbXh2D7ZA1NEzo1K2tQZKdQ8gk9SlNQ11Rrw1Dcm8KufQtal0TESW-gp9adO78_67VTvwQKMU87Dth0</value>
			</setting>
		</FmsBlobToContinental.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>